  .scroll ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .season {
      flex-wrap: nowrap;
      max-height: 450px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; 
    }
    .item {
    flex: 0 0 auto; 
  }
  .scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .flex {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .nav-item {
    padding: 13px 16px 12px;
    cursor:pointer;
    color: #64B5F6;
    display: inline-block;
    text-align: center;
  }
  header {
    background: #fcfcfc;
    min-width: 100%;
  }
  .nav-item:hover{
    background: #bbb;
  }
    .nav-item:hover .sttl{
    color: #fff;
    }
  .nav-item img{
    max-width: 500px;
    max-height: 300px;
  }
  .nav-item {
    font-size: 14px;
    flex: 0;
  }
  #clsm {
    position: fixed;
    top: 20px;
    right: 45px;
    font-size: 60px;
    display: none;
    z-index: 1002;
    color: white;
    cursor: pointer;
  }
  .sttl{
    width: 100%;
    font-size: 15px;
    text-align:center;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 5px;
  }
  #sinp, #linp{
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 4px solid #2E86C1;
  border-radius: 6px;
  margin: 20px 0 12px 0;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  clear: both;
  }
  #sinp:focus, #linp:focus {
  width: 100%;
  }
  /* width */
  ::-webkit-scrollbar {
  width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #64B5F6;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #42A5F5;
  }
  .seasel, .seacli{
    float:left;
    color: #fff;
    background: #6295e3;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 17px;
    width: 25%;
    text-align: center;
    font-weight: 700;
    display: inline-block;
  }
  .seacli{
    outline: 2px solid #f2f2f2;
  }
  .seasel:hover, .seacli:hover{
    background: #85b2ed;
  }
  .seatab{
    background-color: #f9f9f9;
    padding: 20px;
    display: none;
  }
  .seacon{
    display: none;
    background: transparent;
    padding-top: 5px;
  }
  #sinp:focus .seacon{display: inline-block;}
  .lamp {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-y: scroll;
    transition: 0.5s;
  }
  .lamp-cnt{
    position: relative;
    top: 5%;
    width: 90%;
    text-align: left;
    margin-top: 30px;
    margin: auto;
  }
  .daca{
    width: 50%;
    display: inline-block;
    outline: 2px solid #f2f2f2;
    float: left;
  }
  .acc {
    background: #fcfcfc;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
  }
  .acc div{
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .active, .acc:hover {
    background: linear-gradient(45deg, #23A6D5, #23D5AB);
    color: #fff;
  }
  .acc:before {
    content: '\002B';
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }
  .active:before {
    content: "\2212";
  }
  .pnl {
    display: none;
    overflow: hidden;
    margin: 2px;
  }
  .pnl div{
    padding: 5px;
  }
  .jobu{
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  .trd {
    border-radius: 5px 25px 25px 5px;
    margin-bottom: 10px;
    display: inline-block;
    color: #fff;
    width: 50%;
    padding: 10px;
    background-color: #23A6D5;
    cursor: pointer;
  }

  .trd::before {
    content: "\25B6";
    color: #fff;
    display: inline-block;
    margin-right: 6px;
  }

  .mdo:hover{
  cursor:move; /* or whatever cursor */
  }
  .trd-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }

  .trn {
    display: none;
  }

  .trc {
    display: block;
  }
  .mine{
    width: 49%;
    display: inline-block;
  }
  .cdion {
    background: linear-gradient(45deg, #23A6D5, #23D5AB);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    transition: 0.4s;
    -ms-transition: 0.4s;
    white-space: nowrap;    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cdion:hover {
    background: linear-gradient(45deg, #6295e3, #f060b1);
  }
  .lamp-ttl{transition: 0.4s;color: #fff;font-size: 17px;font-weight: 700;text-align: center;}
  .lamp-ttl a{color: #fff;}
  .lamp-ttl a:hover{color: #f060b1;}
  .fick{
    box-shadow:0 12px 16px 0 rgba(98, 149, 227,.24);
    background: linear-gradient(45deg, #6295e3, #f060b1);
  }

  .fane {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.2s ease-out;
  }
  .selink{
    margin: 10px 0 5px 0;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    color: #86d3fc;
    border: 2px solid #2fa9eb;
    display: inline-block;
    width: 95%;
    transition: 0.4s;
    text-decoration:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .selink:hover{
    background-color: #2fa9eb;
    color: #fff;
  }
  .hide{
    display: none;
  }
  a{
    text-decoration: none;
  }
  .chbx{display:inline-block;position:relative;cursor:pointer}.chbx input{position:absolute;opacity:0;height:0;width:0}.chmrk{padding:10px;background-color:#eee;font-size:17px;font-weight:700}.chbx:hover input~.chmrk{background-color:#ccc}.chbx input:checked~.chmrk{background-color:#2196f3;color:#fff};
  @media screen and (max-width:1024px){
  #sinp, #linp{width:55%;}
  }
  @media screen and (max-width:800px){
    #sinp, #linp{width:65%;}
  .nav-item img{max-height: 230px;}
  .sttl{font-size: 14px;line-height: 1.25;}
  .mine{width:100%}
  .selink{white-space: normal;}
  #clsm{top: 10px;right: 45px;font-size: 60px;}
  }
  @media screen and (max-width:640px){
    #sinp, #linp{width:80%;padding: 6px 10px 6px 30px;background-position: 5px 5px;}
  .daca{width:100%;}
  .seasel, .seacli{width: 50%;margin: none;font-size:14px;width:50%;padding:10px}
  .acc, .cdion{padding: 12px;font-size: 14px;}
  .selink{padding: 8px;font-size: 14px;}
  .chmrk{font-size: 13px;padding: 7px;}
  }
  @media screen and (max-width:480px){
  #sinp, #linp{width:100%;}
  .nav-item img{max-height: 200px;}
  #clsm{top: 10px;right: 30px;font-size: 50px;}
  .sttl{font-size: 12px;line-height: 1.35;}
  .selink{padding: 8px;font-size: 12px;}
  .seatab{padding: 5px;}
  }
  .clear {
  clear:both;
  }
  @media screen and (max-width:320px){
  #sinp{width:100%;}
  }
